{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "import",
    "flowtype",
    "jsx-a11y"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": 0
  }
}
